<ul class="nav nav-tabs">

  <li><%= link_to 'Favorites', home_index_path %></li>
  <li><%= link_to 'Task Lists', task_lists_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>